@mixin header-footer-block {
    background-color: var(--color-primary-bg);
    color: var(--color-main-text-color);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
